In [5]:
from arango import ArangoClient
client = ArangoClient(hosts="http://localhost:8529")
sys_db = client.db("_system", username="root", password="")

db = client.db("school", username="root", password="")
if db.has_collection("students"):
    students = db.collection("students")
else:
    students = db.create_collection("students")
    students.add_hash_index(fields=["name"], unique=True)
    students.insert({"name": "jane", "age": 39})
    students.insert({"name": "josh", "age": 18})
    students.insert({"name": "judy", "age": 21})

cursor = db.aql.execute("FOR doc IN students RETURN doc")

import pandas as pd
df=pd.json_normalize(list(cursor))

In [6]:
df

  _key           _id         _rev  name  age
0  456  students/456  _g-J1Qre---  jane   39
1  458  students/458  _g-J1Qri---  josh   18
2  460  students/460  _g-J1Qrm---  judy   21